SOAP API/Service/src/conf/xml-resources/web-service-references/WSop/wsdl/localhost_8080/Service/WSop.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Nombre" type="tns:Nombre"/>

<xs:element name="NombreResponse" type="tns:NombreResponse"/>

<xs:element name="RUT" type="tns:RUT"/>

<xs:element name="RUTResponse" type="tns:RUTResponse"/>

<xs:complexType name="RUT">
<xs:sequence>
<xs:element name="RUNwD" type="xs:int"/>
<xs:element name="Digito" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RUTResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Nombre">
<xs:sequence>
<xs:element name="Nombre_Completo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>